/*CSS Reset*/
*{
    margin:0px;
    padding:0px;
}

/* Body Styling */
body {
    background-image: url();
    color: blue;
    font-size: 1.2em;
}


section.lunchplate {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(2, 0, 36) -20%, rgb(72, 182, 80) 14%, rgb(40, 185, 139) 64%, rgb(0, 212, 255) 100%);
    text-align: center;
    margin: 5%;
    padding: 5% 2%;
    border: 4px solid rgb(209, 161, 28);
    border-radius: 12px;
}

menu-item {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(2, 0, 36) -20%, rgb(72, 182, 80) 14%, rgb(40, 185, 139) 64%, rgb(0, 212, 255) 100%);
    text-align: center;
    margin: 5%;
    padding: 5% 2%;
    border: 4px solid rgb(209, 161, 28);
    border-radius: 12px;
}

img {
    display: block;
    margin: 10% 50%;
    max-width: 100%;
    border: rgb(209 161 28);
    border-width: 4px;
}

h3 {
    font-size: 1.2em;
    color: #297e37;
    text-align: center;
    text-decoration: none;
    background-color: #e4e0ae;
}

p {
    font-size: 1em;
    color: #297e37;
    text-align: center;
    text-decoration: none;
    background-color: #e4e0ae;
}

